.parent-container {
    margin-top: 5%;
    margin-left: 5%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0;
}

.top-bar {
    height: 50px;
    width: 100%;
    background-color: rgb(52,58,64);
    color: white;
    font-size: 20px;
    padding: 1%;
}

.form-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.navbar-brand {
    color: white !important;
}
